<div class="row">
    <div class="col-sm-12">

<%= semantic_form_for @question, :html => { :class => 'panel form-horizontal' } do |f| %>
    <%= render 'share/form_header', record: @question, type: :question, title: :question %>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <%= f.input :title %>
            </div>
            <div class="col-md-12">
                <%= f.input :text1, as: :text, :input_html => { :class => 'autogrow', :rows => 10, :cols => 20, :maxlength => 255  } %>
                <%= f.input :img1, :as => :file, :hint => f.template.image_tag(f.object.img1.url(:thumb)), input_html: { capture: "camera", accept: "image/*" } %>
            </div>
        </div>
        <hr class="panel-wide">
        <div class="row">
           <div class="col-md-12">
                <%= f.input :text2, as: :text, :label_html => { :class => "control-label" }, :input_html => { :class => 'autogrow', :rows => 10, :cols => 20, :maxlength => 255  } %>
                <%= f.input :img2, :as => :file, :hint => f.template.image_tag(f.object.img2.url(:thumb)), input_html: { capture: "camera", accept: "image/*" } %>
            </div>
        </div>

        <div class="panel-footer text-right">
            <%= f.action :submit, :as => :input, :button_html => { :class => "btn btn-primary" } %>
        </div>
    </div>
<% end %>

    </div>
</div>
