<div class="page-header">
    <h1>
        <span class="text-light-gray"><%= t "A&B" %> / </span>
        <%= t "Edit" %>
    </h1>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#app-settings" data-toggle="tab"><%=t :app_settings %></a>
  </li>
  <li>
    <a href="#statistic" data-toggle="tab" id="stat-btn"><%=t :statistic %></a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade active in" id="app-settings">
     <%= render 'form' %>
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Mobile view qrcode</span>
        </div>
        <div class="panel-body">
            Link : <%= link_to @qr_link, @qr_link %>  <br>
            <br>
            <img src="<%= @qr_for_link.image.url %>" alt="qrcode" />
        </div>
    </div>
  </div>

  <div class="tab-pane fade" id="statistic">
      <div class="stat-panel">
          <div class="stat-row">
            <!-- Info background, small padding -->
            <div class="stat-cell bg-info padding-sm">
              <!-- Extra small text -->
              <div class="text-bg text-center "><%= @question.title %></div>
            </div>
          </div> <!-- /.stat-row -->
          <div class="stat-row col-xs-6">
            <!-- Bordered, without top border, horizontally centered text -->
            <div class="stat-counters bordered no-border-t text-center">
              <!-- Small padding, without horizontal padding -->
              <div class="stat-cell padding-sm no-padding-hr">
                <span class="text-bg"><%= @question.text1 %></span><br>
                <div class="text-center stat-image-preview" style="background-image: url(<%= @question.img1.url(:original) %>);">
                </div><br>

                <!-- Extra small text -->


                <div class="pie-chart" data-percent="<%= @question.purcent1 %>%" id="easy-pie-chart-1">
                    <div class="pie-chart-label"><%= @question.purcent1 %>%</div>
                </div><br>
                <span class="text-bg"><strong><%= "#{t(:vote_count)} : #{@question.count1}" %></strong></span><br>
              </div>
            </div>
          </div>
          <div class="stat-row col-xs-6">
            <div class="stat-counters bordered no-border-t text-center">
              <!-- Small padding, without horizontal padding -->
              <div class="stat-cell padding-sm no-padding-hr">
                <span class="text-bg"><%= @question.text2 %></span><br>
                <div class="text-center stat-image-preview" style="background-image: url(<%= @question.img2.url(:original) %>);">
                </div><br>


                <!-- Extra small text -->

                <div class="pie-chart" data-percent="<%= @question.purcent2 %>%" id="easy-pie-chart-2">
                    <div class="pie-chart-label"><%= @question.purcent2 %>%</div>
                </div><br>
                <span class="text-bg"><strong><%= "#{t(:vote_count)} : #{@question.count2}" %></strong></span><br>

              </div>
            </div> <!-- /.stat-counters -->
          </div> <!-- /.stat-row -->
        </div>
  </div>

</div>

<% content_for :javascripts do %>
<script>
<!--
$(document).ready(function() {

  var hash = window.location.hash;

  if (hash && hash.length > 1) {

    var el = $('.nav-tabs a[href=' + hash + ']');

    if (el.length === 1) {
      el.tab('show');
    }
  }

  $('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
    window.scrollTo(0, 0);
});

});
// -->
</script>
<% end %>
