<script>
	window.routes = {
		new_app: '<%= n_url %>',
		login: '/ml/{redirection_url}'
	};
	<% if current_user and @question.user.id == current_user.id %>
	if (window.currentUser) {
		window.currentUser.owner = true;
	}
	window.routes.edit = '<%= edit_polymorphic_path(@question.weiapp.app) %>';
	<% end %>
</script>

<script src="/questions/<%= @question.id %>.js"></script>

<% content_for :stylesheets do %>
    <%= stylesheet_link_tag '/question/question@1.0.1.css' %>
<% end %>

<% content_for :javascripts do %>
    <%= javascript_include_tag '/question/question@1.0.1.js' %>
<% end %>

<% content_for :title do %>A&B<% end %>