window.question = <%= raw @question.to_json %>;
window.previewModel = {
    image: 'http://' + window.location.host + <%= raw @question.img1.url(:thumb).to_json %>,
    image_width: 65,
    image_height: 65,
    title: <%= raw @question.title.to_json %>,
    description: <%= raw "#{@question.text1} - #{@question.text2}".gsub(/[\n\r\t]+/, " ").to_json %>
};