.stat-image-preview {
    padding: 10px;
    margin-top:15px;
    margin-bottom: 15px;
    background-color: #f1f1f1;
    background-repeat:  no-repeat;
    background-position:  center center;
    background-size: contain;
    height: 200px;
    width: 100%;
}